In [1]:
print(10 + 3)

13

In [2]:
# 파이썬은 행단위 언어이다.
print( 3 + 5)
print( 10 + 5)

8
15

In [3]:
print( 3 + 5); print( 10 + 5)

8
15

In [14]:
# 리터널 : 자연수 :  숫자 : 정수 : 10 : 정수리터널
#                   실수 : 10.5      : 실수 리터널
#         자연어 : 문자형 : 한국어, 일본어, 영어  : 문자 리터널

# 숫자 리터널 : 정수 리터널, 실수 리터널
print(10 + 5)
a = 10
print(a)
a
# 변수란 값을 저장하기 위해서 사용하는 오직 하나의 값만 저장 한다.
b = 20
# 숫자리터널의 연산자 : 사직연산자
print( a + b) # 10 + 20  = 30
b = 30
print( a + b) # 10 + 30 = 40
print( a - b) 
print( a * b) 
print( a / b) 
a = 10.5
print( a + b )
b = 30.2
print( a + b )
# 나머지 연산자
a = 10
b = 3
print( a % b ) # % : 나머지 연산자
print( a // b ) # // : 몫연산자
print( a ** b ) # ** : 제곱승
# 숫자 연산자는 +, -, *, /, %, //, **

15
10
30
40
-20
300
0.3333333333333333
40.5
40.7
1
3
1000

In [19]:
a = 10
c = a
print(c)
이숭무 = a;
print(이숭무)
b = "이숭무"
print(b)

10
10
이숭무

In [21]:
str1 = "Life is too short You need Python"
print(str1)
str1 = 'Life is too short You need Python'
print(str1)
str1 = """Life is too short You need Python"""
print(str1)
str1 = '''Life is too short You need Python'''
print(str1)

Life is too short You need Python
Life is too short You need Python
Life is too short You need Python
Life is too short You need Python

In [22]:
str1 = "Life's too short You need Python"
print(str1)
str1 = '"Life is too short" You need Python'
print(str1)

Life's too short You need Python
"Life is too short" You need Python

In [26]:
str1 = "Life's too short \n You need Python"
print(str1)
str1 = "Life's too short \t You need Python"
print(str1)

Life's too short
 You need Python
Life's too short 	 You need Python

In [30]:
str1 = """Life's too short 
You need Python"""
print(str1)
str1 = '''Life's too short 
You need Python'''
print(str1)

Life's too short
You need Python
Life's too short
You need Python

In [36]:
head = 'python'
tail = ' is fun'
print( 'python is fun' )
a = 10
b = 20
print(a + b) # 숫자 리터널 : 덧셈
print(head + tail) # 문자 리터널 : + :  연결 연산자
print( a * 3 ) # 숫자 리터널 : 곱셈
print(head * 3) # 문자리터널 : 반복연산자
# 문자리터널의 연산자 : *, +
print("==" * 30)
print("제목")
print("==" * 30)

python is fun
30
python is fun
30
pythonpythonpython
============================================================
제목
============================================================

In [50]:
#print( 10 + "이숭무" ) # unsupported operand type(s) for +: 'int' and 'str'
print( str(10) + "이숭무" )
# print( 10 + "10")# unsupported operand type(s) for +: 'int' and 'str'
print( str(10) + "10")
print( 10 + int("10"))

10이숭무
1010
20

In [56]:
# indexing
str1 = "Life is too short You need Python"
#                 1         2         3
#       012345678901234567890123456789012 +  : index
#          3         2         1
#       321098765432109876543210987654321 -
print(str1)
print(str1[8])
print(str1[0])
print(str1[-33])
print("Life is too short You need Python"[0])
print(len(str1)) # 33
print(str1[-len(str1)])

Life is too short You need Python
t
L
L
L
33
L

In [59]:
#slicing 
str1 = "Life is too short You need Python"
#       012345678901
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0]+str1[1]+str1[2]+str1[3])
print(str1[0: 0 + 4]) 
print(str1[0 : 4]) # 0부터 4전까지 가져오시오, start=0, end = 4, stap =1
print(str1[5: 5 + 6])
print(str1[5:11]) # 5부터 11전까지,  start=5, end = 11, step =1 
print(str1[5:11:2]) # 5부터 11전까지,  start=5, end = 11, step =2

L
i
f
e
Life
Life
is too

In [68]:
str1 = "Life is too short You need Python"
#                 1         2         3
#       012345678901234567890123456789012 +  : index
print(str1[18:18+16])
print(str1[18:33])
print(len(str1))
print(str1[18:len(str1)])
print(str1[18:])
print(str1[0 : 11])
print(str1[: 11])
print(str1[:])

You need Python
You need Python
33
You need Python
You need Python
Life is too
Life is too
Life is too short You need Python

In [ ]:
# 날짜(년,월,일)와 이름을 분리하여 출력
a = "20010331Rainy"
'''
2001년
03월
31일
이름은 Rainy
'''
print(a[:4] + '년')
print(a[4:4+2] + "월")
print(a[6:6 + 2] + "일")
print("이름은 " + a[8:])

In [72]:
str1 = "Life is too short"
print(str1)
print(str1[:])
# step 2
print(str1[::2])
#reverse
print(str1[::-1])
# 2번부터 13번까지 출력
print(str1[2:14])
#reverse # 13부터 1번까지
print(str1[13:0:-1])
#reverse # 13부터 1번까지 두 글자 건너서
print(str1[13:0:-3])
# 1부터 13까지 두 글자 건너서
print(str1[1:14:3])

Life is too short
Life is too short
Lf stosot
trohs oot si efiL
fe is too sh
hs oot si efi

In [76]:
#포매팅
#포맷문자를 이용한 포맷팅
#포맷문자 : %s:string, %d:decimal, %f:float, %c:charecter
name = "이숭무"
age = 35
print("이숭무의 나이는 35살입니다.")
print("%s의 나이는 %d살입니다." % (name, age) )
print("이숭무의 나이는 %d살입니다." %(age))
print("이숭무의 나이는 %d살입니다." % age)

이숭무의 나이는 35살입니다.
이숭무의 나이는 35살입니다.
이숭무의 나이는 35살입니다.
이숭무의 나이는 35살입니다.

In [83]:
print("%s" % "hi")
print("%10s" % "hi")
print("%s이숭무" % "hi")
print("%-10s이숭무" % "hi")
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬

hi
        hi
hi이숭무
hi        이숭무

In [88]:
print(3.141592)
print("%f" % 3.141592)
print("%10f" % 3.141592)
print("%-10f이숭무" % 3.141592)

3.141592
3.141592
  3.141592
3.141592  이숭무

In [96]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
name = '이숭무'
age = 20
height = 175.3
print("%s의 나이는 %d살이고 키는 %f입니다" % (name,age, height))
print("%s의 나이는 %d살이고 키는 %5.1f입니다" % (name,age, height))
print("%s의 나이는 %d살이고 키는 %3.1f입니다" % (name,age, height))
print("%s의 나이는 %d살이고 키는 %.1f입니다" % (name,age, height))
print("%s의 나이는 %d살이고 키는 %10.1f입니다" % (name,age, height))
print("%s의 나이는 %d살이고 키는 %-10.1f입니다" % (name,age, height))
print("%s의 나이는 %s살이고 키는 %s입니다" % (name,age, height))

이숭무의 나이는 20살이고 키는 175.300000입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는      175.3입니다
이숭무의 나이는 20살이고 키는 175.3     입니다
이숭무의 나이는 20살이고 키는 175.3입니다

In [97]:
# format함수를 이용한 포맷팅
# "a" : 문자열, a : 변수 , a() : 함수 ==> str(), print(), format()
"이숭무의 나이는 20살이고 키는 175.3입니다"
name = '이숭무'
age = 20
height = 175.3
print("{0}의 나이는 {1}살이고 키는 {2}입니다".format(name,age,height))
#                                                   0    1    2
print("{1}의 나이는 {0}살이고 키는 {2}입니다".format(age,name,height))
print("{1}의 나이는 {0}살이고 키는 {2}입니다".format(age,'이숭무',height))

이숭무의 나이는 20살이고 키는 175.3입니다

In [102]:
# format함수에 이름으로 넣기
print("{1}의 나이는 {0}살이고 키는 {h}입니다".format(age,'이숭무',h = height))
print("{n}의 나이는 {0}살이고 키는 {h}입니다".format(age,n = '이숭무',h = height))
# 이름을 사용할 경우에는 뒤에서부터 붙여주는 것이 좋다. 중간에만 있으면 안됨.
#print("{n}의 나이는 {0}살이고 키는 {2}입니다".format(age, n = '이숭무', height))

이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다

In [115]:
print("{1:10}의 나이는 {0:10}살이고 키는 {h:10}입니다".format(age,'이숭무',h = height))
print("{1:>10}의 나이는 {0:^10}살이고 키는 {h:<10}입니다".format(age,'이숭무',h = height))
print("{1:->10}의 나이는 {0:*^10}살이고 키는 {h:@<10}입니다".format(age,'이숭무',h = height))

###                                         소주점 출력
print("{1:->10}의 나이는 {0:*^10}살이고 키는 {h:10.2f}입니다".format(age,'이숭무',h=3.1415))
#{나이}가 있는 문자열 출력
print("{1:->10}의 {{나이}}는 {0:*^10}살이고 키는 {h:10.2f}입니다".format(age,'이숭무',h=3.1415))

이숭무       의 나이는         20살이고 키는      175.3입니다
       이숭무의 나이는     20    살이고 키는 175.3     입니다
-------이숭무의 나이는 ****20****살이고 키는 175.3@@@@@입니다
-------이숭무의 나이는 ****20****살이고 키는       3.14입니다
-------이숭무의 {나이}는 ****20****살이고 키는       3.14입니다

In [122]:
#f 문자 포매팅
name = '이숭무'
age = 20
height = 175.3
print(f"{name}의 나이는 {age}살이고 키는 {height}입니다")
print(f"{name:10}의 나이는 {age:10}살이고 키는 {height:10}입니다")
print(f"{name:>10}의 나이는 {age:<10}살이고 키는 {height:^10}입니다")
print(f"{name:*>10}의 나이는 {age:@<10}살이고 키는 {height:$^10}입니다")
print(f"{name:*>10}의 나이는 {age:@<10}살이고 키는 {height:$^10.4f}입니다")
print(f"{name:*>10}의 나이는 {age+10:@<10}살이고 키는 {height:$^10.4f}입니다")

이숭무의 나이는 20살이고 키는 175.3입니다
이숭무       의 나이는         20살이고 키는      175.3입니다
       이숭무의 나이는 20        살이고 키는   175.3   입니다
*******이숭무의 나이는 20@@@@@@@@살이고 키는 $$175.3$$$입니다
*******이숭무의 나이는 20@@@@@@@@살이고 키는 $175.3000$입니다
*******이숭무의 나이는 30@@@@@@@@살이고 키는 $175.3000$입니다

In [ ]:
#포맷팅
#1. 포맷문자를 이요한 포맷팅
#2. format()함수를 이용한 포맷팅
#3. f문자를 이용한 포맷팅

In [129]:
# 문자열 가공 : 문자열 함수
str1 = "Life is too short"
# 문자열의 크기
print(len(str1))
# 특정문자의 갯수 : str1에 있는 문자열에서 o가 몇개 있나요
print(str1.count('o'))
print("Life is too short".count('o'))
# 특정 문자의 고유번호 : index
print(str1.index('i')) # 맨 처음 만나는 문자의 index : 1
print(str1.rindex('i')) # 뒤에서 부터
print(str1.index('i', 1 + 1))
print(str1.index('i', str1.index('i') + 1))
# str1에 문자열에서 too를 출력
print(str1.index('too')) # 8
print(str1[8: 8+3])
print(str1[str1.index('too'): str1.index('too')+3])
word = "too"
lenth = len(word) # 3
print(str1[str1.index('too'): str1.index('too') + lenth])

17
3
3
1
5
5
5
8
too

In [132]:
print(str1.find('i')) # 맨 처음 만나는 문자의 index : 1
print(str1.rfind('i')) # 뒤에서 부터
# print(str1.index('z')) # 없는 문자열의 index는 오류가 발생
print(str1.find('z')) # 없으면 -1

1
5
-1

In [135]:
#  모두 대문자 변경
str1 = "Life is too short"
result = str1.upper()
print(result)
print(str1)
#  모두 소문자
result = str1.lower()
print(result)
print(str1)

LIFE IS TOO SHORT
Life is too short
life is too short
Life is too short

In [143]:
str1 = "    highland0    "
#양옆의 공백문자를 지우기
print(str1 + "이숭무")
print(str1.strip() + "이숭무")
print(str1.rstrip() + "이숭무")
print(str1.lstrip() + "이숭무")

str1 = "    high land0    "
print(str1.strip() + "이숭무") # 가운데 공백문자는 데이터로 인식
str1 = "abhighland0ab"
print(str1)
print(str1.strip("ab"))

str1 = "ab  highland0  ab"
print(str1.strip("ab").strip())

    highland0    이숭무
highland0이숭무
    highland0이숭무
highland0    이숭무
high land0이숭무
abhighland0ab
highland0
highland0

In [149]:
str1 = "ab  highland0  ab"
result = str1.replace(" ", "")
print(result)
print(str1)
str1 = 'pithon'
result = str1.replace('i','y')
print(result)
str1 = "Life is too short"
result = str1.replace('Life', 'Your leg')
print(result)

abhighland0ab
ab  highland0  ab
python
Your leg is too short

In [153]:
# 쪼개기
str1 = "Life is too short"
print(str1)
result = str1.split() # 구분자 : 공백문자
print(result)
str1 = "Life:is:too:short"
result = str1.split(":") # 구분자 : :
print(result)

Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [157]:
str1 = "Life:is-too/short"
import re
result = re.split('[:/-]',str1) # split을 하면 리스트로 전달해 준다.
print(result)
# ['Life', 'is', 'too', 'short'] : 리스트

['Life', 'is', 'too', 'short']

In [158]:
# 리터널 : 자연수 : 숫자 : 정수 : 10  , 실수 : 10.5
#         자연어 : 문자열 : 한글 영어 : "a", 'a', '''a''', """a"""
# 리스트 : [] : 여러개의 데이터를 저장하는  
l = ['Life', 'is', 'too', 'short']
print(l)

['Life', 'is', 'too', 'short']

In [159]:
l2 = [] # 빈 리스트
l3 = [1, 2, 3, 4, 5] # 정수형 리스트
l4 = [10.5, 2.5, 12.3] # 실수형 리스트
l5 = ['이숭무', 'apple' ] #문자열 리스트
l6 = [1,2,3, '이숭무', 2.4, 6.7] # 혼홥형 리스트
l7 = [ [1,2,3] , [4,5,6] ] # 리스트를 포함한 리스트
l8 = [ 7,8,9, [1,2,3] ,'이숭무', [4,5,6] ] # 리스트를 포함한 혼합형 리스트

[]

In [162]:
str1 = "Life is too short"
#       0123456789... index
l = ['Life', 'is', 'too', 'short']
#      0      1      2      3 :index
l = [1, 2, 3, 4]
#    0  1  2  3
#    4  3  2  1 -
print(l[0]) # 정수 
print(l[1]) # 정수
print(l[0] + l[1] ) # 정수 + 정수 = 1 + 2
# 리스트에서 indexing을 요소의 자료형으로 반환된다.
print(l[-4])
print(l[-3])
print(l[-4] + l[1] )

1
2
3
1
2
3

In [166]:
l = ['Life', 'is', 'too', 'short', 10, 20, 30]
#      0      1      2      3       4    5   6
print(l[0]) # 문자열 리터널
print(l[4]) # 정수 리터널
# print(l[0] + l[4]) # 문자열 + 정수
print(l[0] + str(l[4]))
print(l[0] * l[4]) # 문자열 * 정수

Life
10
Life10
LifeLifeLifeLifeLifeLifeLifeLifeLifeLife

In [168]:
#리스트를 포함한 리스트
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#               0    1    2
#    4  3  2         1 -
print(a[3]) # ['a', 'b', 'c']
#               0    1    2
print(a[3][0])
print(a[-1][0])

['a', 'b', 'c']
a

In [ ]:
a = [1, 2, 3, 4, ['a', 'Life', 'c']]
#    0  1  2  3            4
#                  0      1     2 
#                       0123
#'i'만 출력하시오.
print(a[4]) # ['a', 'Life', 'c']
print(a[4][1]) # Life
print(a[4][1][1])

In [174]:
# slicing
a = [1,2,3,4,5]
#    0 1 2 3 4
print(a)
print(a[0:0+2])
print(a[:2])
print(a[2:5])
print(a[2:])
print(a[:])
print(a[::2])

[1, 2, 3, 4, 5]
[1, 2]
[1, 2]
[3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]

In [183]:
a = [1,2,3,4]
print(a[0]) # 정수 리터널 : indexing은 요소가 가진 자료형으로 가져온다.
print(a[0:1]) # 리스트 : slicing은 리스트로 가져온다

1
[1]

In [181]:
a = [1,2,3]
b = [4,5,6]
print( a + b ) #리스트 + 리스트 : + : 연결연산자.
print(a * 3) # 리스트 * 3 : * :   반복연산자.
c = [1, 2, 3, [4, 5, 6]]
print(c[2]) # 3
print(c[3]) # 리스트
print(c[3] * c[2]) # [4, 5, 6] * 3

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
[4, 5, 6]
[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [186]:
str1 = '이숭무'
print(len(str1)) # 문자의 갯수
l = [1,2,3,4,5]
print(len(l)) # 요소의 갯
l[3] = 40 # 요소의 값 변경
print(l)

3
5
[1, 2, 3, 40, 5]

In [195]:
# 리스트 내장 함수 : 데이터를 가공하기 위해서 사용
### 리스트에 요소 추가
# append
li = ['Life', 'is']
li.append('too')
print(li)
li.append('short')
print(li)
#확장
li = ['Life', 'is']
li.append(['too', 'short'])
print(li)
li = ['Life', 'is']
li.extend(['too', 'short'])
print(li)
# 삽입 : 원하는 index에 저장
li = ['Life', 'short']
#       0       1
li.insert(1, 'is')
print(li) # ['Life', 'is', 'short']
li.insert(2, 'too')
print(li)
# append, extend, insert

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', ['too', 'short']]
['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']

In [201]:
#요소 삭제 내장 함수
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# index을 이용하여 요소 삭제
print(l1[4])
del l1[4]
print(l1)
print(l1[4: 4 + 2])
del l1[4: 4 + 2]
print(l1)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
print(l1[4:])
del l1[4:]
print(l1)

1
['Life', 'is', 'too', 'short', 2, 3]
[2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 3]
['Life', 'is', 'too', 'short']

In [205]:
# 요소를 이용해서 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
l1.remove('too')
print(l1)
#l1.remove(1, 2, 3)  # list.remove() takes exactly one argument (3 given)
# l1.remove([1, 2, 3]) # [1, 2, 3]요소가 없다.

['Life', 'is', 'short', 1, 2, 3]

In [210]:
# index를 이용해서 삭제 : pop
l1 = ['Life', 'is', 'short', 1, 2, 3]
l1.pop() # 마지막 요소 삭제
print(l1)
l1.pop() # 마지막 요소 삭제
print(l1)
result = l1.pop() # pop함수는 삭제한 요소를 반환해준다.
print(l1) # ['Life', 'is', 'short']
#              0      1       2
print(result) 
result = l1.pop(1)
print(l1)
print(result) 
# del, remove, pop

['Life', 'is', 'short', 1, 2]
['Life', 'is', 'short', 1]
['Life', 'is', 'short']
1
['Life', 'short']
is