In [6]:
# 정렬 -- 오름차순, 내림차순
l = [4, 2, 5, 1, 3]
# 오름차순
l.sort()
print(l)
# 내림차순 : 오름차순으로 정렬된 것을 뒤에서 부터 출력
l = [4, 2, 5, 1, 3]
l.sort(reverse=True)
print(l)
# 뒤부터 출력
l = [4, 2, 5, 1, 3]
l.reverse()
print(l)
# 문자열 정렬
l = ['b','c','a'] # 사전순서
l.sort()
print(l)
l = ['이숭무', 'apple', '김찬중', 'banana']
l.sort()
print(l)
l = [5, 'apple', '김찬중', 3]
# l.sort()
# 문자열과 숫자가 같이 있는 경우에는 정렬되지 않는다.

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]
['a', 'b', 'c']
['apple', 'banana', '김찬중', '이숭무']

TypeError: '<' not supported between instances of 'str' and 'int'

In [10]:
#요소 찾기
str1 = "apple"
result = str1.index('a')
print(result)
result = str1.find('a')
print(result)
l = ['apple', 'banana', '이숭무','김찬중']
result = l.index('banana')
print(result)
#result = l.find('banana')

0
0
1

AttributeError: 'list' object has no attribute 'find'

In [21]:
t = (1,2,3,4)
t = 1,2,3,4
print([1])
print(t)
print(1)
print((1 + 3) * 4)
print((1)) # 최우선 연산자
print((1,2))
print((1,))
t = 1,2,3,4
print(t)
t = 1
print(t)
t = 1,
print(t)
print( 12 + t[0] )

[1]
(1, 2, 3, 4)
1
16
1
(1, 2)
(1,)
(1, 2, 3, 4)
1
(1,)
13

In [ ]:
튜플(tuple)
       자료형 : () :                                 (1, 2, 3, 4)
               () : 빈튜플
               (1,) : 요소가 하나인 튜플 
               (1,2,3,4) : 정수형 튜플
                ('이숭무', '김찬중') : 문자열 튜플
                ('이숭무', '김찬중',1,2,3) : 혼합형 튜플
                ((1,2,3,4),(5,6,7,8)) : 튜플을 포함한 튜플
                ((1,2,3,4),(5,6,7,8), 1,2,3, '이숭무') : 튜플을 포함한 혼합형 튜플
                ([1,2,3,4], 1,2,3, '이수움') : 리스트를 포함한 혼합형 튜플

In [24]:
# indexing
l = [1,2,3,4,5]
#    0 1 2 3 4
#   -5 4 3 2 1
print(l[1])
print(l[-4])
print(len(l)) # 요소의 갯수
t = (1,2,3,4,5)
#    0 1 2 3 4
#   -5 4 3 2 1
print(t[1])
print(t[-4])
print(len(t)) # 요소의 갯수

2
2
2

In [27]:
#slicing
l = [1,2,3,4,5]
print(l[2:2+2])
print(l[:3])
print(l[2:])
t = 1,2,3,4,5
print(t[2:2+2])
print(t[:3])
print(t[2:])

[3, 4]
[1, 2, 3]
[3, 4, 5]
(3, 4)
(1, 2, 3)
(3, 4, 5)

In [34]:
l = [1,2,3,4,[5]]
t = 1,2,3,4,(5,)
print(l[1]) # 요소가 가진 자료형으로 출력
print(t[1])
print(l[2]+l[3]) # 정수 + 정수
print(l[4]) # 리스트
print(t[4])

print(l[1:1+1]) # 리스트에서 slicing을 하면 요소가 하나이어도 리스트로 가져온다
print(t[1:1+1]) 
# 리스트, 튜플은 slicing을 하면 무조건 리스트, 튜플로 가져온다.
# print(l[1:1+1] + l[2]) #  리스트 + 정수 : 오류
print(l[1:1+1] * l[2]) # 리스트 * 정수

2
2
7
[5]
(5,)
[2]
(2,)

TypeError: can only concatenate list (not "int") to list

In [38]:
l = [1,2,3,4,5]
idx = l.index(3)
print(idx)
#idx = l.find(3)
t = 1,2,3,4,5
idx = t.index(3)
print(idx)
#idx = t.find(3)

2
2

AttributeError: 'tuple' object has no attribute 'find'

In [42]:
#리스트와 튜플의 차이점
l = [1,2,3,4,4,5,4] # 변경이 가능하다.
t = 1,2,3,4,4,5,4 # 변경이 불가능하다. 상수
l[2] = 30
print(l)
del l[2]
print(l)
#t[2] = 30
result = l.count(4)
print(result)
result = t.count(4)
print(result)
# indexing, slicing, len(), index(), count()
# 리스트, 튜플 연산자 : + : 연결연산자 , * : 반복연산자

[1, 2, 30, 4, 4, 5, 4]
[1, 2, 4, 4, 5, 4]
3

In [ ]:
기본자료형 : 리터널 : 숫자 : 정수 : 10, 20  
                           실수 : 10.5, 20.5
                    문자열 : "", '', """""", ''''''
리스트 자료형 : [] 
튜플 자료형 : ()
딕셔너리 : {} : json(javascript) , map(java, C#)
           {키1:값1, 키2:값2,..., 키n:값n}

In [46]:
# 딕셔너리
dic = {} # 빈 딕셔너리
dic = {"name": "이숭무", "phone" : "010-1234-5678", "birth":"20250202"}
l = [1,2,3]
result = l[2] # index를 이용
print(result)
result = dic["name"] # 키를 이용해서 값을 받아옴
print(result)
dic = {1 : "이숭무", 0 : 35, 2 : 175.3} 
#          0           1          2 (x)
result = dic[1] # index를 사용하는 것이 아니라 키를 사용한다.
print(result)
# indexing 가능한 자료형은 문자열, 리스트, 튜플

3
이숭무
이숭무

In [53]:
l = [1,2,3]
#    0 1 2 
l[1] = 20 # [1, 20, 3]
# l[3] = 40 # IndexError: list assignment index out of range
print(l)
a = {1:"이숭무"}
print(a[1])
a[1] = "이상범" # 키가 존재하면 수정이됨
print(a)
a[2] = "이장범" # 키가 없으면 요소 추가가 됨
print(a)

[1, 20, 3]
이숭무
{1: '이상범'}
{1: '이상범', 2: '이장범'}

In [58]:
# 딕셔너리는 중복키를 허용하지 않는다.
# 그렇기 때문에 키가 있으면 수정이 되고 키가 없으면 추가
a = {1:"이숭무"}
print(a)
a[1] = "이장범"
print(a)
a = {1:"이숭무", 1:"이장범"}
print(a) # 중복키를 허용하지 않으므로 키가 중복이 되면 마지막 값을 갖는다

{1: '이숭무'}
{1: '이장범'}
{1: '이장범'}

In [66]:
#딕셔너리 함수
dic = {"name":"이숭무", "age":35, "height":175}
l = [1,2,3]
# 요소 삭제
del l[1]
print(l)
del dic["age"]
print(dic)
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic.values())
# 키와 값을 쌍으로
print(dic.items())
# 리스트에 있는 요소 모두 삭제
del l[:]
print(l)
l = [1,2,3]
l.clear()
print(l)
# 딕셔너리 요소 모두 삭제
dic.clear()
print(dic)

[1, 3]
{'name': '이숭무', 'height': 175}
dict_keys(['name', 'height'])
dict_values(['이숭무', 175])
dict_items([('name', '이숭무'), ('height', 175)])
[]
[]

In [81]:
# get 함수
dic = {"name":"이숭무", "age" : 35, "height" : 175}
print(dic["name"])
print(dic.get("name"))
# print(dic["addr"]) # KeyError: 'addr'
print(dic.get("addr")) # None
print(dic.get("addr" ,"서울"))
# 예시
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600 , "jazz":100}
print(dic1["classic"] + dic2["classic"])
print(dic1["pop"] + dic2["pop"])
#print(dic1["jazz"] + dic2["jazz"])
print(dic1.get("jazz", 0) + dic2.get("jazz")) # 0 + 100
print(dic1.get("pop", 0) + dic2.get("pop"))

이숭무
이숭무
None
서울
1000
1200
100
1200

In [ ]:
기본 자료형 : 리터널 : 숫자 : 정수 : 10 , 실수 :10.5
                     문자열 : "",'',"""""",''''''
리스트 자료형 : []
튜플 자료형 : ()
딕셔너리 : {키 : 값,...}
         : {} : 빈 딕셔너리
집합 : 합집합, 교집합 , 차집합
s = {1,2,3,4}  
s = {} : 빈 딕셔너리

In [90]:
s1 = {1,1,2,2,4,4,5,5}
print(s1)
s2 = {4,5,6,7,8,9}
print(s2)
# 합집합 : union
result = s1 | s2
print(result)
result = s1.union(s2)
print(result)
# 교집합
result = s1 & s2
print(result)
result = s1.intersection(s2)
print(result)
# 차집합
result = s1 - s2
print(result)
result = s1.difference(s2)
print(result)
result = s2 - s1
result = s2.difference(s1)

{1, 2, 4, 5}
{4, 5, 6, 7, 8, 9}
{1, 2, 4, 5, 6, 7, 8, 9}
{1, 2, 4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{1, 2}
{1, 2}

In [92]:
s1 = set([1,2,3,4,5])
print(s1)
s1 = set((1,2,3,4,5))
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [97]:
# 변환함수
str1 = "hello"
print(str1)
l = list(str1)
print(l)
t = tuple(str1)
print(t)
s = set(str1)
print(s)
l = list(t)
print(l)
a = "10"
print( 10 + int(a) ) # 문자형 정수를 정수로 변환
print( str(10) + a ) # 숫자를 문자열로 변환
print( 10.5 + float("20.5") ) #문자형 실수를 실수로 변환

hello
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
{'o', 'h', 'e', 'l'}
['h', 'e', 'l', 'l', 'o']

In [107]:
l = ['h', 'e', 'l', 'l', 'o']
str1 = str(l)
#print([1,2,3,4] + "apple")
print(str1) # "['h', 'e', 'l', 'l', 'o']"
print(str1 + " 이숭무 ") 
# 리스트를 문자열로 변경
str1 = "".join(l)
print(str1)
l = ['Life', 'is', 'too', 'short']
str1 = " ".join(l)
print(str1)
str1 = "hello"
result = ".".join(str1)
print(result)
result = " ".join(str1)
print(result)
t = ('Life', 'is', 'too', 'short')
result = " ".join(t)
print(result)

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o'] 이숭무
hello
Life is too short
h.e.l.l.o
h e l l o
Life is too short

In [117]:
# 집합자료형 함수
# 요소추가 : add
s = {1,2,3,4}
s.add(7)
print(s)
s.add(4) # 중복데이터를 허용하지 않는다.
print(s)
s.add('a')
print(s)
# s에 8,9,10을 추가
#s.add(8,9,10) # TypeError: set.add() takes exactly one argument (3 given)
s.add((8,9,10)) 
print(s)
# add는 요소를 하나씩 추가할 수 있다.
s = {1, 2, 3, 4, 7}
# 여러개의 요소를 한번에
s.update((8,9,10))
print(s)
s.update([11,12,13])
print(s) # {1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13}
# 삭제
s.remove(11)
print(s)
#s.remove(12,13) # TypeError: set.remove() takes exactly one argument (2 given)
#s.remove((12,13)) # (12,13) 튜플이 없어서 오류
# 삭제 또한 요소를 하나씩만 가능하다.
s = {1, 2, 3, 4, 7, (8, 9, 10), 'a'}
s.remove((8, 9, 10)) # 튜플 요소 삭제
print(s)
# 모두 삭제
s.clear()
print(s)
# {1,2,3} : 연산자 : 합집합 (|) , 교집합(&), 차집합(-)
#             함수 : add(), update(), remove(), clear()

{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 'a'}
{1, 2, 3, 4, 7, (8, 9, 10), 'a'}
{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 7, 8, 9, 10, 12, 13}
{1, 2, 3, 4, 7, 'a'}

In [123]:
# 기본자료형 : 리터널 : 숫자 : 정수(decimal : %d), 실수(float : %f)
#                     문자열 (string : %s)
# 리스트 자료형 : []
# 튜플 자료형 : (), (1,)
# 딕셔너리 자료형 : {} , {키:값,...,키n:값n}
# 집합자료형 : {1,2,3,4}
# 부울자료형 :  참 / 거짓 : True / False
i = 10 # 정수 자료형 :decimal
f = 10.5 # 실수 자료형 : float
str1 = "이숭무" # 문자열 자료형 :string
l = [1,2,3,4] # 리스트 자료형
t = (1,2,3,4) # 튜플 자료형
dic = {1:"이", 2:"숭"} # 딕셔너리
s = {1,2,3,4} # 집합자료형
bl = True # 부울 자료형
print(bl)
bl = False
print(bl)
# bl = true # NameError: name 'true' is not defined 
bl = "True"
# 비교연산자(관계연산자)의 결과값이 부울자료형이다
print( 1 == 1) 
a = 10
b = 20
print( a < b )
# 논리연산자 : True and True , True or False
print(True and True)
print(True or False)

True
False
True
True
True
True

In [129]:
# int(), float(), str(), list(), tuple(), set(), bool()
print("hello")
print(bool("hello"))
print(bool(" "))
print(bool("")) # blank
print(bool(1))
print(bool(-1))
print(bool(0))
print(bool([]))
print(bool([1,2,3]))
print(bool(()))
print(bool((1,2,3,4)))
print(bool({}))
print(bool({1:10}))
print(bool(None)) # False

hello
True
True
False
True
True
False

In [135]:
# 자료형 확인
i = 10
f = 10.5
str1= "이숭무"
l = [1,2,3]
t = (1,2,3)
dic = {1:"a", 2: "b"}
s =  {1,2,3,4}
b = True
print(type(i))
print(type(f))
print(type(str1))
print(type(l))
print(type(t))
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [138]:
#파이썬의 변수 선언법
i = 10; j = 20
i , j = 10, 20
print(i , j)
t = (1,2,3)
t = 1,2,3
i , j = (10, 20)
(i , j) = (10, 20)
(i , j) = 10, 20

[i , j] = 10, 20

i, j, k = 10, 20 , 30

# i, k = 10,20,30 # ValueError: too many values to unpack (expected 2)

10 20

In [139]:
i = 10
j = 20
# i와 j값을 변경하시오.
temp = i
i = j
j = temp

i = 10
j = 20

i , j = j, i
print(i, j)

20 10

In [142]:
# 영어, 수학 , 국어의 점수 40점 이상이고 평균이 60 이상이면 합격(True)
eng = 30
kor = 60
mat = 80
result = eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor + mat) / 3 >= 60
print(result)
if result: # 단일 if
    print("합격")

if result: # if ~ else
    print("합격")
else:
    print("불합격")

    # 조건식 
if eng >= 40 and kor >= 40 and mat >= 40 and (eng + kor + mat) / 3 >= 60: 
    print("합격")
else:
    print("불합격")

False

In [148]:
if result:
    print("국어 영어 수학 점수가 범위안에 들어가있어요")
    print("합격")
else:
    print("국어 영어 수학 점수가 범위를 벗어났네요")
    print("불합격")
'''
if result:
    print("국어 영어 수학 점수가 범위안에 들어가있어요")
print("합격")
else:
    print("국어 영어 수학 점수가 범위를 벗어났네요")
    print("불합격")
'''
print()
'''
if result:
    print("국어 영어 수학 점수가 범위안에 들어가있어요")
        print("합격")
else:
    print("국어 영어 수학 점수가 범위를 벗어났네요")
    print("불합격")
'''
print()

국어 영어 수학 점수가 범위를 벗어났네요
불합격

In [155]:
# in 연산자
l = [1,2,3,4,5]
print( 5 in l )
print( 7 in l )
str1 = "python"
print( "y" in str1 )
print( "z" in str1 )
print( "too" in str1 )
print( "on" in str1 )
print( "on" not in str1 )
print( 10 not in l )
if 10 not in l:
    print("10 포함되어 있지 않다")
else:
    print("10이 포함되어 있습니다.")

if "y" in "python":
    print("python에 y가 있다")
else:
    print("python에 y가 없습니다")

True
False
True
False
False
True

In [158]:
dic = {"a":"이숭무" , "b" : "이장범"}
if  "a"  in dic:
    print("a 키가 존재 합니다.")
else:
    print("a 키가 존재하지 않습니다.")

if  "a"  in dic: # 딕셔너리에서는 in연산자에서 키가 있는지만 확인
    print(dic.get('a'))
else:
    print(dic.get('a','없어요'))

print(dic.values())
l = list(dic.values())
if "이숭무" in l:
    print("이숭무가 있습니다")
else :
    print("이숭무가 없습니다")

if "이숭무" in list(dic.values()):
    print("이숭무가 있습니다")
else :
    print("이숭무가 없습니다")

if  'paper'  in ['paper', 'cellphone', 'money'] :
    print('돈이 있습니다')
else:
    print('돈이 없습니다.')

a 키가 존재 합니다.
이숭무
dict_values(['이숭무', '이장범'])

In [160]:
# 학점 90이상이면 "A" , 80점이상이면 "B", 70점이상이면 "C" , 60점이상이면 "D"
# 아니면 "F"
score = 78
if score >= 90: # 100 ~ 90
    print("A")
elif score >= 80:   # 80 ~ 89
    print("B")
elif score >= 70:   # 70 ~ 79
    print("C")
elif score >= 60:   # 60 ~ 69
    print("D")
else:
    print("F")
print("#####" * 15)
if score >= 90: # 100 ~ 90
    message = "A"
elif score >= 80:   # 80 ~ 89
    message = "B"
elif score >= 70:   # 70 ~ 79
    message = "C"
elif score >= 60:   # 60 ~ 69
    message = "D"
else:
    message = "F"
print(message)

C
###########################################################################
C

In [163]:
if score >= 90:
    message = "A"
else: # ~ 89
    if score >= 80:
        message = "B"
    else: # ~ 79
        if score >= 70:
            message = "C"
        else:
            if score >= 60:
                message = "D"
            else :
                message = "F"
print(message)
# 파이썬 스타일 
message = "A" if score >= 90 else(
          "B" if score >= 80 else(
          "C" if score >= 70 else(
          "D" if score >= 60 else(
          "F"
          ))))
print(message)

C
C

In [165]:
# if문을 이용한 사직연산 
a = 10; b = 20; opt = "sub"
if opt == "add":
    message = a + b
elif opt == "sub":
    message = a - b
elif opt == "mul":
    message = a * b
else:
    messge = a / b
print(message)
print("***" * 15)
message = a + b if opt == "add" else(
          a - b if opt == "sub" else(
          a * b if opt == "mul" else
          a / b     
          ))
print(message)

-10
*********************************************
-10

In [166]:
# 이중 if문
# 95이상이면 A+ 90이상이면 A
score = 78
if score >= 90: # 90 ~ 100
    if score >= 95:
        message = "A+"
    else:
        message = "A"
elif score >= 80:   # 80 ~ 89
    if score >= 85:
        message = "B+"
    else:
        message = "B"
elif score >= 70:   # 70 ~ 79
    if score >= 75:
        message = "C+"
    else:
        message = "C"
elif score >= 60:   # 60 ~ 69
    if score >= 65:
        message = "D+"
    else:
        message = "D"
else:
    message = "F"
print(message)

C+

In [168]:
# 제어문 : 조건문 (if) , 반복문 (while, for)
# 반복문이란 : 반복적으로 실행되는 명령문을 한번 사용하여 같은 결과를 얻는 것
print("나무를 1번찍었습니다")
print("나무를 2번찍었습니다")
print("나무를 3번찍었습니다")
print("나무를 4번찍었습니다")
print("나무를 5번찍었습니다")
print("나무를 6번찍었습니다")
print("나무를 7번찍었습니다")
print("나무를 8번찍었습니다")
print("나무를 9번찍었습니다")
print("나무를 10번찍었습니다")
print("나무가 넘어갑니다")
print("####" * 15)
print("나무를 %d번찍었습니다" % 1)
print("나무를 %d번찍었습니다" % 2)
print("나무를 %d번찍었습니다" % 3)
print("나무를 %d번찍었습니다" % 4)
print("나무를 %d번찍었습니다" % 5)
print("나무를 %d번찍었습니다" % 6)
print("나무를 %d번찍었습니다" % 7)
print("나무를 %d번찍었습니다" % 8)
print("나무를 %d번찍었습니다" % 9)
print("나무를 %d번찍었습니다" % 10)
print("나무가 넘어갑니다")

나무를 1번찍었습니다
나무를 2번찍었습니다
나무를 3번찍었습니다
나무를 4번찍었습니다
나무를 5번찍었습니다
나무를 6번찍었습니다
나무를 7번찍었습니다
나무를 8번찍었습니다
나무를 9번찍었습니다
나무를 10번찍었습니다
나무가 넘어갑니다
############################################################
나무를 1번찍었습니다
나무를 2번찍었습니다
나무를 3번찍었습니다
나무를 4번찍었습니다
나무를 5번찍었습니다
나무를 6번찍었습니다
나무를 7번찍었습니다
나무를 8번찍었습니다
나무를 9번찍었습니다
나무를 10번찍었습니다
나무가 넘어갑니다

In [170]:
start = 1
while start <= 10:
    #print("나무를 %d번찍었습니다" % start)
    #print("나무를 {0}번찍었습니다".format(start))
    print(f"나무를 {start}번찍었습니다")
    start = start + 1
print("나무가 넘어갑니다")

나무를 1번찍었습니다
나무를 2번찍었습니다
나무를 3번찍었습니다
나무를 4번찍었습니다
나무를 5번찍었습니다
나무를 6번찍었습니다
나무를 7번찍었습니다
나무를 8번찍었습니다
나무를 9번찍었습니다
나무를 10번찍었습니다
나무가 넘어갑니다

In [173]:
# 구구단
# 8단
'''
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
'''
start = 1
while start <= 9:
    #print(" 8 * %d = %d" % (start, 8 * start))
    print(" 8 * {0} = {1}".format(start, 8 * start))
    #print(f" 8 * {start} = {8 * start}")
    start = start + 1

 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [182]:
dan = 6
start = 1
endGop = 9
while start <= endGop:
    print(" {2} * {0} = {1}".format(start, dan * start, dan))
    start = start + 1

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54

In [186]:
dan = int(input("단을 입력하세요 : "))
start = int(input("시작 곱을 입력하세요 : "))
endGop = int(input("마지막 곱을 입력하세요 : "))
while start <= endGop:
    print(" {2} * {0} = {1}".format(start, dan * start, dan))
    start = start + 1

단을 입력하세요 :  5
시작 곱을 입력하세요 :  3
마지막 곱을 입력하세요 :  6

 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30