In [8]:
# 자료형 : 어떠한 형태의 자료인지를 알기 위해서 사용하는 것
# 기본자료형 : 리터널 : 자연수
#                      자연어
#             부울(boolean) : 참/거짓 : True/False 
# 파이썬 자료형 : 
#                리스트 : 요소를 변경 할 수 있는 자료형
#                튜플 : 요소를 변경 할 수 없는 자료형
#                딕셔너리 : {키:값,....}
#                집합 : 교집합, 합집합, 차집합
str1 = "나는 파이썬을 가르치는 이숭무입니다"
l = str1.split()
print(l)
print(l[0])
l[0] = "당신은"
print(l)

userid = "    highland0 "
if userid == "highland0":
    print("같다")
else:
    print("다르다")

['나는', '파이썬을', '가르치는', '이숭무입니다']
나는
['당신은', '파이썬을', '가르치는', '이숭무입니다']
다르다

In [9]:
# 조건식 : if, if~else, if ~ elif ~ elif ~ .... ~ else
# 반복문 : while 
print("나무를 1번찍었습니다")
print("나무를 2번찍었습니다")
print("나무를 3번찍었습니다")
print("나무를 4번찍었습니다")
print("나무를 5번찍었습니다")
print("나무를 6번찍었습니다")
print("나무를 7번찍었습니다")
print("나무를 8번찍었습니다")
print("나무를 9번찍었습니다")
print("나무를 10번찍었습니다")
print("나무가 넘어갑니다")

나무를 1번찍었습니다
나무를 2번찍었습니다
나무를 3번찍었습니다
나무를 4번찍었습니다
나무를 5번찍었습니다
나무를 6번찍었습니다
나무를 7번찍었습니다
나무를 8번찍었습니다
나무를 9번찍었습니다
나무를 10번찍었습니다
나무가 넘어갑니다

In [10]:
i = 1 # 
while i <= 10: # True 일때까지만 반복
    print("나무를 %d번찍었습니다" % i)
    i = i + 1

print("나무가 넘어갑니다")

나무를 1번찍었습니다
나무를 2번찍었습니다
나무를 3번찍었습니다
나무를 4번찍었습니다
나무를 5번찍었습니다
나무를 6번찍었습니다
나무를 7번찍었습니다
나무를 8번찍었습니다
나무를 9번찍었습니다
나무를 10번찍었습니다
나무가 넘어갑니다

In [21]:
# 8단
'''
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
'''
startgop = int(input("시작곱 숫자를 입력하세요 : "))
endgop = int(input("마지막곱 숫자를 입력하세요 : "))
dan =  int(input("단 숫자를 입력하세요 : "))
while startgop <= endgop:
    print( "%d * %d = %d " % (dan, startgop , dan * startgop ))
    startgop = startgop + 1

시작곱 숫자를 입력하세요 :  2
마지막곱 숫자를 입력하세요 :  5
단 숫자를 입력하세요 :  7

7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35

In [73]:
import random  # 모듈 : 변수, 함수, 클래스, 객체
idx = random.randint(0, 8) # 0,1,2,3,4,5,6,7,8
print(idx)
l = [1,2,3,4,5,6,7,8,9]
#    0,1,2,3,4,5,6,7,8  : index
print(l[idx]) # l[2]
# 복원추출 : 주사위
# 비복원 추출 : 로또
result = l.pop(4)
print(result)
result = l.pop(2)
print(result)
print(l)

3
4
4
[1, 2, 3, 5, 6, 7, 8, 9]

In [104]:
import random
lotto = []
start = 1
while start <= 45:
    lotto.append(start) # 1 ~ 45추가
    start += 1 # start = start + 1
#print(lotto)
size = len(lotto) # 45

l = []
i = 1
while i <= 6:
    size -= 1                # 0 ~ 44, 0 ~ 43, 0 ~ 42
    idx = random.randint(0, size) # index번호 받아 옴
    result = lotto.pop(idx) # index에 해당한 번호 추출 44, 43,42,41,40,...
    #print("lotto 남아 있는 번호 "+ str(lotto))
    i += 1
    l.append(result)
print(l)

[18, 4, 24, 35, 40, 26]

In [88]:
# 6단
startgop = 1
while startgop <= 9:
    print(f" 6 * {startgop} = { 6 * startgop}")
    startgop += 1
# 7단
startgop = 1
while startgop <= 9:
    print(f" 7 * {startgop} = { 7 * startgop}")
    startgop += 1
# 8단
startgop = 1
while startgop <= 9:
    print(f" 8 * {startgop} = { 8 * startgop}")
    startgop += 1

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [87]:
# 2중 반복문 : 반복문이 반복이 될 때 반복문을 반복문 안에서 실행
stratdan = 6 
while stratdan <= 8:
    startgop = 1
    while startgop <= 9:
        print(f" {stratdan} * {startgop} = { stratdan * startgop}")
        startgop += 1
    stratdan += 1

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [91]:
stratdan = int(input("시작단을 입력하세요 : "))
enddan = int(input("마지막단을 입력하세요 : "))
start = int(input("시작곱을 입력하세요 : "))
end = int(input("마지막곱을 입력하세요 : "))
while stratdan <= enddan:
    startgop = start
    while startgop <= end:
        print(f" {stratdan} * {startgop} = { stratdan * startgop}")
        startgop += 1
    stratdan += 1

시작단을 입력하세요 :  2
마지막단을 입력하세요 :  6
시작곱을 입력하세요 :  4
마지막곱을 입력하세요 :  7

 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42

In [109]:
import random
qty = int(input("구매 수량을 입력하세요 : "))
lotto = []   
cnt = 1
while cnt <= qty:
    start = 1
    while start <= 45:
        lotto.append(start) # 1 ~ 45추가
        start += 1 # start = start + 1
    #print(lotto)
    size = len(lotto) # 45
    
    l = []
    i = 1
    while i <= 6:
        size -= 1                # 0 ~ 44, 0 ~ 43, 0 ~ 42
        idx = random.randint(0, size) # index번호 받아 옴
        result = lotto.pop(idx) # index에 해당한 번호 추출 44, 43,42,41,40,...
        #print("lotto 남아 있는 번호 "+ str(lotto))
        i += 1
        l.append(result)
    print(l)
    #print(lotto)
    lotto.clear() # lotto = []
    cnt += 1

구매 수량을 입력하세요 :  5

[31, 9, 29, 14, 42, 30]
[30, 41, 2, 24, 4, 44]
[24, 20, 34, 8, 1, 21]
[6, 5, 35, 34, 4, 41]
[4, 39, 15, 22, 14, 41]

In [116]:
#  제어문 : 조건문 : if, 반복문 : while,  for
# 6단
i = 1
while i <= 9:
    print(f" 6 * {i} = {6 * i}")
    i += 1
# for문 ( forEach : 각각 하나)
print("===for===")
l = [1,2,3,4,5,6,7,8,9]
for i in  l:
    print(f" 6 * {i} = {6 * i}")

for i in range(1,  9 + 1):
    print(f" 6 * {i} = {6 * i}")

for i in range(9 + 1):
    print(f" 6 * {i} = {6 * i}")

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
===for===
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 0 = 0
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54

In [122]:
i = 1
while i <= 9:
    print(f" 6 * {i} = {6 * i}")
    i += 2
print("===" * 30)
for i in range(1, 10, 2):
    print(f" 6 * {i} = {6 * i}")

 6 * 1 = 6
 6 * 3 = 18
 6 * 5 = 30
 6 * 7 = 42
 6 * 9 = 54
==========================================================================================
 6 * 1 = 6
 6 * 3 = 18
 6 * 5 = 30
 6 * 7 = 42
 6 * 9 = 54

In [126]:
# 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while i <= 100: # 크기를 모를 때
    sum = sum + i
    i += 1
print(sum)
print("===")

sum = 0
for i in range(1, 101): # 크기가 있을 때
    sum += i # sum = sum + i
print(sum)

5050
===
5050

In [ ]:
# break
i = 1
sum = 0
while True:
    sum += i
    if i == 100:
        break
    i += 1
sum = 0
for i  in range(1, 100000000):
    sum += i
    if i == 100:
        break

In [128]:
# for문으로 6단, 7단 , 8단
for gop in range(1, 10):
    print(f" 6 * {gop} = {6 * gop}")

for gop in range(1, 10):
    print(f" 6 * {gop} = {7 * gop}")

for gop in range(1, 10):
    print(f" 8 * {gop} = {8 * gop}")

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54

In [129]:
for dan in range(6, 9):
    for gop in range(1, 10):
        print(f" {dan} * {gop} = {dan * gop}")

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [131]:
for dan in range(6, 9):
    gop = 1
    while gop <= 9:
        print(f" {dan} * {gop} = {dan * gop}")    
        gop += 1

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [137]:
# continue
# 1 ~ 100까지의 합을 구하는데 짝수의 합만 구하시오
i = 1
sum = 0
while i < 101:
    if i % 2 == 0:
        sum += i
    i += 1
print(sum)
i = 0
sum = 0
while i < 101:
    i += 1
    if i % 2 != 0:
        continue
    sum += i
print(sum)
sum = 0 
for i in range(1, 101):
     if i % 2 == 0:
         sum += i
print(sum)

for i in range(1, 101):
    if i % 2 != 0:
        continue
    sum += i

2550
2550
2550

In [139]:
l = []
i = 1
while i < 46:
    l.append(i)
    i += 1
print(l)

l = []
for i in range(1, 46):
    l.append(i)
print(l)

# 리스트 컴프리헨션 : 빈리스트에 append할 때 사용한다.
l = [ i for i in range(1, 46) ]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [140]:
import random
'''
lotto = []
for start in range(1, 46):
    lotto.append(start) 
'''

lotto = [start for start in range(1, 46) ]
size = len(lotto) # 45

l = []
i = 1
while i <= 6:
    size -= 1                # 0 ~ 44, 0 ~ 43, 0 ~ 42
    idx = random.randint(0, size) # index번호 받아 옴
    result = lotto.pop(idx) # index에 해당한 번호 추출 44, 43,42,41,40,...
    #print("lotto 남아 있는 번호 "+ str(lotto))
    i += 1
    l.append(result)
print(l)

[8, 24, 43, 22, 45, 19]

In [143]:
# 1 ~ 100까지 수 중 홀수만 저장하되 3을 곱합값을 리스트에 저장
l = []
for i in range(1, 101):
    if i % 2 != 0:
        l.append(i * 3)
print(l)


l = [i * 3 for i in range(1, 101) if i % 2 != 0 ]
print(l)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297]
[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147, 153, 159, 165, 171, 177, 183, 189, 195, 201, 207, 213, 219, 225, 231, 237, 243, 249, 255, 261, 267, 273, 279, 285, 291, 297]

In [147]:
# 2단 9단까지의 곱의 값을 리스트에 저장
val = []
for dan in range(2, 10):
    for gop in range(1, 10):
        val.append(dan * gop)
print(val)
val = [dan * gop for dan in range(2, 10) 
                 for gop in range(1, 10)]
print(val)
# 2단부터 9단까지의 값중 짝수만 곱한 값을 리스트에 저장
val =[]
for dan in range(2, 10):
    for gop in range(1, 10):
        if gop % 2 == 0:
            val.append(dan * gop)
print(val)

val =[dan * gop for dan in range(2, 10) 
                for gop in range(1, 10) if gop % 2 == 0 ]
print(val)

# 2단부터 9단까지의 짝수단의 곱만 리스트에 저장
val = []
for dan in range(2, 10):
    if dan % 2 == 0:
        for gop in range(1, 10):
            val.append(dan * gop)
print(val)
val = [dan * gop for dan in range(2, 10) if dan % 2 == 0 
                 for gop in range(1, 10) ]
print(val)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[4, 8, 12, 16, 6, 12, 18, 24, 8, 16, 24, 32, 10, 20, 30, 40, 12, 24, 36, 48, 14, 28, 42, 56, 16, 32, 48, 64, 18, 36, 54, 72]
[4, 8, 12, 16, 6, 12, 18, 24, 8, 16, 24, 32, 10, 20, 30, 40, 12, 24, 36, 48, 14, 28, 42, 56, 16, 32, 48, 64, 18, 36, 54, 72]

In [148]:
a = [1, 2]
b = [3, 4]
l = []
# a에서 b를 곱한값을 리스트에 저장
for i in a:
    for j in b:
        l.append( i * j)
print(l)
l = [i * j for i in a
           for j in b]
print(l)

[3, 4, 6, 8]
[3, 4, 6, 8]

In [154]:
l1 = [(1,2),(3,4),(5,6)]
#  t = (1, 2)
for t in l1:
    print(t)
a , b = (1, 2)

for a, b in l1:
    print(a, b)
    print(a + b)

l2 = [[1,2,3],[4,5,6],[7,8,9]]
for a,b,c in l2:
    print(a +  b + c)

l3 = [[1,2,3],[4,5],[6,7,8,9]]
#for a,b,c, d  in l3:
#    print(a,b,c,d) 
for l in l3:
    print(l)

#a,b,c,d = 1,2,3

(1, 2)
(3, 4)
(5, 6)
1 2
3
3 4
7
5 6
11
6
15
24
[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

In [163]:
# 자료형 
# 연산자
# 제어문 : 조건문, 반복문
# 함수 : x값에 따라 y값의 변화를 구하는 것
# f(x) = 3x + 6일 때 x가 3이면 y값은 
# y = f(3) = 15
def f(x):
    return 3 * x + 6

In [164]:
y = f(3)
print(y)
# x = 5일 때  y는
y = f(5)
print(y)

15
21

In [160]:
# f(x1, x2) = 2x1 + 3x2 + 5 일때 x1 = 3,이고 x2=6이라면 y값은
# y = f(3, 6)
def f(x1, x2): # x1, x2 : 가인자 : 매개변수(parameter)'
    return 2 * x1 + 3 * x2 + 5

In [161]:
y =  f(3, 6) # 3, 6 : 실인자 (argument)
print(y)

29

In [165]:
# 함수구문
'''
def 함수명(parameter1, parameter2,..., parameter_n):
    명령문1
    명령문2
    ...
    명령문_n
    return 결과값

변수명 = 함수명(argument1, argument2,...,argument_n)
print(변수명)
argument와 parameter는 1 대 1 대응해야 한다.
'''
#  복잡하고 긴 코드를 반복 실행해야 하는 명령어를 사용하고 싶을 때 함수를 만들자

'\ndef 함수명(parameter1, parameter2,..., parameter_n):\n    명령문1\n    명령문2\n    ...\n    명령문_n\n    return 결과값\n\n변수명 = 함수명(argument1, argument2,...,argument_n)\nprint(변수명)\nargument와 parameter는 1 대 1 대응해야 한다.\n'

In [166]:
# 6단
for gop in range(1, 10):
    print(f"6 * {gop} = {6 * gop}")

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [167]:
def dna6():
    for gop in range(1, 10):
        print(f"6 * {gop} = {6 * gop}")

In [170]:
dna6()

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [173]:
def gugudan(dan):
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

In [175]:
gugudan(2)
gugudan(5)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [176]:
import random
def lottofn(qty):
    lotto = []   
    cnt = 1
    while cnt <= qty:
        start = 1
        while start <= 45:
            lotto.append(start) # 1 ~ 45추가
            start += 1 # start = start + 1
        #print(lotto)
        size = len(lotto) # 45
        
        l = []
        i = 1
        while i <= 6:
            size -= 1                # 0 ~ 44, 0 ~ 43, 0 ~ 42
            idx = random.randint(0, size) # index번호 받아 옴
            result = lotto.pop(idx) # index에 해당한 번호 추출 44, 43,42,41,40,...
            #print("lotto 남아 있는 번호 "+ str(lotto))
            i += 1
            l.append(result)
        print(l)
        #print(lotto)
        lotto.clear() # lotto = []
        cnt += 1

In [178]:
lottofn(3)
lottofn(5)

[40, 30, 38, 15, 45, 10]
[13, 34, 39, 44, 12, 8]
[40, 9, 35, 7, 25, 43]
[42, 39, 24, 22, 8, 31]
[2, 3, 27, 33, 6, 39]
[15, 4, 36, 6, 33, 44]
[25, 6, 13, 42, 3, 43]
[30, 43, 19, 40, 27, 7]

In [180]:
# 함수의 4가지유형
# 1. 일반 유형 : 매개변수 , 반환값
def f(x):
    return 3 * x + 5

def add(x, y):
    return x + y
y = add(3, 4)
print(y)

7

In [182]:
# 2.매개변수는 있고 반환값이 없음
def add(x, y):
    print(x + y)

In [183]:
add(3, 5)

8

In [184]:
# 3. 매개변수가 없고 반환값이 있는 경우
def add():
    x = 3
    y = 5
    return x + y
z = add()
print(z)

8

In [185]:
# 4. 매개변수 x, 반환값 x
def add():
    x = 3
    y = 5
    print(x + y)
add()

8

In [186]:
def dan3():
    for gop in range(1, 10):
        print(f"3 * {gop} = {3 * gop}")

In [188]:
def dan3(startgop, endgop):
    for gop in range(startgop, endgop + 1):
        print(f"3 * {gop} = {3 * gop}")
s = int(input("시작곱을 입력하세요. : "))
e = int(input("마지막 곱을 입력하세요. : "))
dan3(s, e)

시작곱을 입력하세요. :  3
마지막 곱을 입력하세요. :  5

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [189]:
def dan3():
    startgop = int(input("시작곱을 입력하세요. : "))
    endgop = int(input("마지막 곱을 입력하세요. : "))
    for gop in range(startgop, endgop + 1):
        print(f"3 * {gop} = {3 * gop}")
dan3()

시작곱을 입력하세요. :  3
마지막 곱을 입력하세요. :  5

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [192]:
def calc(x1, x2, opt):
    if opt == "add":
        result = x1 + x2
    elif opt == "sub":
        result = x1 - x2
    elif opt == "mul":
        result = x1 * x2
    else:
        result = x1 / x2
    return result

In [196]:
y = calc(3 , 5, "add")
print(y)
# parameter이름을 이용해서 값을 전달
y = calc(3 , 5, opt = "add")
print(y)

y = calc(3 , x2 = 5, opt = "add")
print(y)

y = calc(3 , opt = "add" , x2 = 5)
print(y)

y = calc( opt = "add", x1 = 3 , x2 = 5)
print(y)

#y = calc(3 , opt = "add" , 5)
#print(y)

SyntaxError: positional argument follows keyword argument (2157279785.py, line 16)

In [198]:
del sum

In [201]:
'''
sum1(1)
sum1(1,2,3,4,4,5)
sum1(1,2,4,4,5)
'''
l = [1,2,3,4,5]
print(sum(l))
t = 1,2,3,4,5
print(t)
t = (1,2,3,4,5)
print(t)

15
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [202]:
def sum1(*t): # *매개변수명 : 튜플
    print(t)
sum1(1,2,3,4,5)
sum1(2,3)
sum1(1,2,3,4)

(1, 2, 3, 4, 5)
(2, 3)
(1, 2, 3, 4)

In [206]:
'''
add_mul("add", 1,2,3,4,5,6)
add_mul("mul", 1,2,3,4)
'''            # *para: 튜플
def add_mul(opt, *para):
    sum2 = 1; 
    if opt == "add":
        result = sum(para)
    elif opt == "mul":
        for t in para:
            sum2 *= t
        result = sum2
    return result
y = add_mul("add", 1,2,3,4,5,6)
print(y)
y = add_mul("mul", 1,2,3,4,5,6)
print(y)

21
720

In [216]:
def dic2(**para): # argument를 딕셔너리로 받자.
    print(para)

In [214]:
dic1 = { "a" : 1}
print(dic1)
dic1["a"] = 2
print(dic1)
dic1["b"] = 4
print(dic1)

{'a': 1}
{'a': 2}
{'a': 2, 'b': 4}

In [217]:
dic2(a = 10, b = 20)

{'a': 10, 'b': 20}

In [220]:
# 함수의 리턴값은 언제나 하나이다
def add_mul(x1, x2):
    return x1 + x2 # 함수 종료 
    return x1 * x2

In [221]:
y = add_mul(4 , 6)
print(y)

10

In [222]:
a = 1, 2 # 튜플

(1, 2)

In [223]:
#           3    4
def add_mul(x1, x2):
         #     7,     12
    return x1 + x2, x1 * x2 # 튜플

In [226]:
y = add_mul(3, 4) # 7, 12
# y = 7, 12
print(y)
y = 1, 2
a, b = 1, 2
a, b = add_mul(3, 4)
# a, b =  7, 12
print(a, b)

(7, 12)
7 12

In [228]:
def say_myself(name, old, man):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

In [229]:
say_myself("이숭무", 35, True)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
나는 남자입니다.

In [230]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

In [233]:
say_myself("이숭무", 35)
say_myself("오연의", 35,  False)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
나는 남자입니다.
나의 이름은 오연의입니다.
나의 나이는 35입니다.
나는 여자입니다.

In [234]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old = 30, man = True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")

In [235]:
say_myself("이숭무")
say_myself("오연의", 35,  False)

나의 이름은 이숭무입니다.
나의 나이는 30입니다.
나는 남자입니다.
나의 이름은 오연의입니다.
나의 나이는 35입니다.
나는 여자입니다.

In [236]:
'''
def say_myself(name, old = 30, man):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {old}입니다.")
    if man:
       print("나는 남자입니다.")
    else:
       print("나는 여자입니다.")
say_myself("이숭무", True)
'''
print()

In [238]:
### lambda함수 : 함수를 마치 변수처럼 선언해서 사용
# 일반 함수
def add(a, b):
    return a + b
y = add(3, 5)
print(y)

8

In [239]:
# 람다함수
add = lambda a, b :  a + b
y = add(3, 5)
print(y)

8

In [ ]:
# 일반 함수
def add(a, b):
    print( a + b )
add(3, 5)

In [240]:
add = lambda  a, b : print( a + b )
add(3, 5)

8

In [ ]:
# 일반함수
def calc(opt , a, b):
    if opt == "add":
        return a + b 
    else:
        return a - b
        
calc("add", 3, 4)

In [243]:
calc = lambda  opt , a, b : a + b if opt == "add" else (
                            a - b)
calc("add", 3, 4)

7

In [ ]:
# 일반함수
def calc(opt, a, b):
    if opt == "add":
        return a + b
    elif opt == "sub":
        return a - b
    elif opt == "mul":
        return a * b
    else:
        return a / b

In [245]:
calc = lambda opt, a, b : a + b if opt == "add" else(
                          a - b if opt == "sub" else(
                          a * b if opt == "mul" else(
                          a / b    
                          )))
result = calc("mul", 10, 20)
print(result)

200

In [ ]:
def add(a, b=4):
    return a + b

In [247]:
add = lambda a, b=4 : a + b
result = add(3)
print(result)

7

In [ ]:
#전역변수 : 프로그램 전체에서 사용 가능한 변수, 함수밖에 있는 변수
#지역변수 : 함수안에 정의 되어 있는 변수 , 함수안에서만 사용가능한 변수

In [249]:
b = 100  #전역 변수
def test2():
    c1 = 200 # 지역변수
    print("전역변수 : " , b)
    print("지역변수 : " , c1)

test2()

전역변수 :  100
지역변수 :  200

In [250]:
b = 100  #전역 변수
def test2():
    c1 = 200 # 지역변수
    b = 10 # 지역변수
    print("지역변수 : " , b)
    print("지역변수 : " , c1)
print("전역변수 : " , b)
test2()
print("전역변수 : " , b)

전역변수 :  100
지역변수 :  10
지역변수 :  200
전역변수 :  100

In [251]:
b = 100  #전역 변수
def test2():
    global b
    c1 = 200 # 지역변수
    b = 10 # 전역 변수
    print("전역 변수 : " , b)
    print("지역변수 : " , c1)
print("전역변수 : " , b)
test2()
print("전역변수 : " , b)

전역변수 :  100
지역변수 :  10
지역변수 :  200
전역변수 :  10

In [252]:
# 파일입출력 : open()함수
# open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True):
# open("C:/Users/soldesk/Desktop/test.txt", mode="w", encoding="utf-8")
f = open("test.txt", 'w', encoding="utf-8")
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.write("4번째 줄입니다.\n")
f.write("5번째 줄입니다.\n")
f.close()

In [253]:
f = open("test.txt", 'w', encoding="utf-8")
for i in range(6, 11):
    f.write(f"{i}번째 줄입니다.\n")
f.close()
# 'w' : overwrite

In [254]:
f = open("test.txt", 'a', encoding="utf-8")
for i in range(11, 16):
    f.write(f"{i}번째 줄입니다.\n")
f.close()
# 'a' : append :추가

In [259]:
f = open("test.txt", encoding="utf-8")
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

In [260]:
f = open("test.txt", encoding="utf-8")
while True:
    line = f.readline() # line = "" : False; print(bool(""))
    if not line:
        break
    print(line)
f.close()

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

In [262]:
f = open("test.txt", encoding="utf-8")
lines = f.readlines()
f.close()
print(lines)
print("".join(lines))

['6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n', '11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n']
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [263]:
f = open("test.txt", encoding="utf-8")
data = f.read()
f.close()
print(data)
# readline, readlines , read

6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [265]:
#f.close()를 사용하지 않음 : with 
with open("test.txt", encoding="utf-8") as f:
    while True:
        line = f.readline()
        if not line:
            break
        print(line)

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

In [267]:
with open("test.txt", encoding="utf-8") as f:
    lines = f.readlines()
    print("".join(lines))

6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [269]:
with open("test.txt", encoding="utf-8", mode='w') as f:
    for i in range(1, 6):
        f.write(f"{i}번째입니다.\n")

In [270]:
with open("test.txt", encoding="utf-8", mode='a') as f:
    for i in range(6,11):
        f.write(f"{i}번째입니다.\n")

In [ ]:
# mode : r, w, a, rb, wb, ab